<!-- <h3>{{IndexCtrl.name}}</h3> -->

<img src="/images/bread.jpg" id="bg" >
<div class="home">

<!-- <img src="/images/heaven.jpg" alt=""> -->
<div class="row">
  <div class="col s10 offset-m1 title">
    <p class="title">Welcome to Community <br> Feed</p>

  </div>
  <div class="row ">
    <div class="col s10 offset-m2 ">
      <p class="first-msg">We’re glad you’re here.</p>
      <p class="first-msg">Whether you have food to donate or need food for your soup kitchen, you’re making a difference by </p>
      <p class="first-msg">being a part of Community Feed.</p>
    </div>

  </div>
  <!-- Button -->
  <div class="row ">
    <div class="col s6 right-align">
      <a id="btn-restaurant"class="waves-effect waves-light btn-large" ng-href="/map/">I AM A RESTAURANT<br>OWNER</a>
    </div>
    <div class="col s6">
      <a id="btn-soup-kitchen"class="waves-effect waves-light btn-large" ng-href="/map/">I AM A SOUP KITCHEN<br>OWNER</a>
    </div>
  </div>

</div>
</div>
