<!-- <h3>{{MapCtrl.name}}</h3> -->
<div class="row btn-sk">
  <div class="col s12 offset-m2">
    <a class="waves-effect waves-light btn" ng-click="MapCtrl.aboutForm()">About you</a>
    <a class="waves-effect waves-light btn" ng-click="aboutShForm = !aboutShForm">About your Sharing</a>
    <a class="waves-effect waves-light btn">Find Near Soup Kitchen</a>
    <a class="waves-effect waves-light btn">Donation Completed</a>
  </div>
</div>


<!-- Form About you -->
<div ng-show="MapCtrl.process == 0">
  <div class="row">
    <div class="col s12 offset-m2 maps">
      <p>LET US KNOW ABOUT YOU</p>
    </div>
  </div>
  <div >

  <div class="row "  >
    <form ng-submit="">

      <div input-field  class="col s6 m4 offset-m3">

        <input placeholder="Name"type="text" ng-model="IndexCtrl.dummyInputs.name" length="150" required>
    </div>
    <div input-field  class="col s6 m4 offset-m3">

      <input placeholder="Organization Name"type="text" ng-model="IndexCtrl.dummyInputs.org" length="150" required>
    </div>
    <div input-field  class="col s6 m4 offset-m3">

      <input placeholder="Organization Address" type="text" ng-model="IndexCtrl.dummyInputs.add" length="150" required>
    </div>
    <div input-field class="col s6 m4 offset-m3">

      <input placeholder="Email"type="text" ng-model="IndexCtrl.dummyInputs.mail" length="150" required>
    </div>

  </div>
<div class="row">
  <div class="col s12 offset-m1 box">
    <p>
      <input type="checkbox" id="test5" />
      <label for="test5">I agree that food items I donate was made within 2days before I complete the form and the items I send to Community Feed are safe to consume </label>
    </p>
  </div>
</div>
</div>
</form>
</div>

<!-- Form About your Sharing -->
<div ng-show="MapCtrl.process == 1">
  <div class="row">
    <div class="col s12 offset-m2 maps">
      <p>LET US KNOW ABOUT WHAT YOU ARE SHARING</p>
    </div>
  </div>


  <div class="row ">
    <form ng-submit="">
      <!-- <p class="col s1 right-align form">Name</p> -->
      <div input-field  class="col s6 m4 offset-m3">
        <label >Food Type</label>
        <input placeholder="EX) Sandwish"type="text" ng-model="IndexCtrl.dummyInputs.food" length="150" required>
    </div>
    <div input-field  class="col s6 m4 offset-m3">
      <label>Feeds how many</label>
      <input placeholder="EX) 2 people" type="text" ng-model="IndexCtrl.dummyInputs.feeds" length="150" required>
    </div>
    <div input-field  class="col s6 m4 offset-m3">
      <label>Allergen</label>
      <input placeholder="EX) Soy, wheat" type="text" ng-model="IndexCtrl.dummyInputs.all" length="150" required>
    </div>
    <div input-field class="col s6 m4 offset-m3">
      <label>Food value ($)</label>
      <input placeholder="EX) $14" type="text" ng-model="IndexCtrl.dummyInputs.mail" length="150" required>
    </div>

  </div>

</form>
</div>



  <!-- Map -->
<div ng-show="MapCtrl.process == 2">
  <div class="row">
    <div class="col s12 offset-m2 maps">
      <p>Find Near Soup Kitchen</p>

    </div>
  </div>
  <div class="row">
      <div class="row col s8 m4 offset-m2 input-group">
        <input type="search" name="search" value="" style="float:left; width: 288px !important;">
        <button  style="float: right; margin-top: -74px;"class="btn waves-effect waves-light btn-large red" type="submit" name="action" ng-click="MapCtrl.search()">Find Near By Soup <br> Kitchen</button>
      </div>
      <br><br>
      <div class="row map col s12" map-lazy-load="https://maps.google.com/maps/api/js">
        <ng-map center="[37.7749, -122.4194]" zoom="15">
          <marker ng-repeat="marker in MapCtrl.markers" id="{{marker.id}}" position="{{marker.position}}" on-click="map.showInfoWindow({{marker.infoWindow}})">
            <info-window id="{{marker.infoWindow}}" visible-on-marker="{{marker.id}}">
              <div ng-non-bindable>

              <p>{{marker.name}}</p>
                <p>{{marker.address}}</p>
              </div>
            </info-window>
          </marker>
        </ng-map>
      </div>
    </div>
</div>

  <!-- Donation Completed -->

<div ng-show="MapCtrl.process == 3">
  <div class="row">
    <div class="col s12 offset-m2 donation">
      <p>Thank you for your donation!</p>
      <p>We will let John from Soup Kitchen to let you know your donation.</p>
    </div>
    <div class="row">
      <div class="col s12 skImg">

      </div>

    </div>
  </div>
</div>

<!-- Buttons -->
<div class="row">
    <div class="col s10 offset-m1">
      <a ng-href="/map/" ng-click="MapCtrl.goBack()" ng-hide="MapCtrl.hideBack" class="waves-effect waves-light btn ">BACK</a>
    </div>
    <div class="col s10 offset-m8">
      <a  ng-href="/map/" ng-click="MapCtrl.goForward()" ng-hide="MapCtrl.hideForward" class="waves-effect waves-light btn ">NEXT About your sharing</a>
    </div>
</div>
