#btn-restaurant{
  height: auto;
    min-height: 20px;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;

}

.btn, .btn-large{
  text-transform: none;
}

.title{
  font-family: 'Raleway', sans-serif;
  font-size: 50px;

}

.map-canvas { height: 400px; }
