body{
  font-family: 'Noto Sans', sans-serif;

}
/*.home {
  background-image: url("/images/bread.jpg");
  background-repeat: no-repeat;
   background-position: 0 0;
   background-size: cover;
}*/

/*Home*/
.home{
  position: relative;
}
[type="checkbox"]:checked+label:before{
  border-right: 2px solid #CCAF3A;
border-bottom: 2px solid #CCAF3A;
}

.donation{
  font-weight: 700;
}
.skImg{
  background-image: url("/images/soup_kitchen.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}
.maps{
font-weight: 700;
}

.box{
  padding-top: 0;
  margin-top: 0;
}

#bg {
  position: absolute;
  min-width: 100%;
  min-height: 100%;

  -webkit-filter: opacity(.5) drop-shadow(1px 1px 20px black);
}
input[type=search] {
	padding: 3px;
	font-family: Georgia;
	border: 1px solid black;
	background: white;
	line-height: 1;
}

.btn:hover, .btn-large:hover{
  background-color: #FFC062 !important;
}

.first-msg{
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  color: white;

}

.btn{
background-color: #CCAF3A;
color: #999278;
}

#btn-restaurant{
  height: auto;
    min-height: 25px;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #CCAF3A;
    color: #999278;


}
#btn-soup-kitchen{
  height: auto;
    min-height: 25px;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #CCAF3A;
    color: #999278;

}

.btn, .btn-large{
  text-transform: none;

  /*color: #73bf45;*/
}

.title{
  font-family: 'Noto Sans', sans-serif;
  font-size: 50px;
  color: white;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 40px;
}





.welcome{
  font-family: 'Noto Sans', sans-serif;
  font-size: 35px;

}

.map{
  height: 300px;
  -webkit-box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.99);
  -moz-box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.99);
  box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.99);
}

.btn-sk{
  padding-top: 40px;
}
/*Soup Kitchen*/
.sk-img{
  height: 100px;
}
